
{% extends 'home/base.html' %}


{% block title %}Home{% endblock %}

{% block content %}


{% if user.is_authenticated and user.is_student %}
    Hi Student {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    Go to your team profile.

{% elif user.is_authenticated and user.is_mentor %}
    Hi Mentor {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    Maybe you haven't created a team yet: Create a Team!
        <p><a href="{% url 'TeamMap:team-add' %}">Create Team</a></p>
    Maybe you have created a team, go to your team profile.


{% else %}

<h2>Welcome to the SmallWorld! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to SmallWorld, get started
    by creating a <a href="{% url 'users:signup-student' %}">student account</a> or a <a href="{% url 'users:signup-mentor' %}">mentor account</a>.
  </p>
{% endif %}
{% endblock %}









