{% extends 'home/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-4 col-lg-offset-4">
      <h1>   </h1>
   </div>
</div>
<div class="row">
   <div class="col-md-4 col-lg-offset-4">
      <h1>   </h1>
   </div>
</div>
<div class="row">
   <div class="col-md-4 col-lg-offset-4">
      <h1>   </h1>
   </div>
</div>
<div class="row">
   <div class="col-md-4 col-lg-offset-4">
      <h1>   </h1>
   </div>
</div>
<div class
<h2>Sign up as a {{ user_type }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>
{% endblock %}